article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 50px !important;
}

article h1 {
  font-size: 2.5em !important;
}
article h2 {
  font-size: 2em !important;
}
article h3 {
  font-size: 1.6em !important;
}
article h4 {
  font-size: 1.3em !important;
}
article h4,
article h5,
article h6 {
  font-size: 1.3em !important;
}

article ul,
article ol {
  padding-left: 1.5em;
}

article li {
  margin-bottom: 10px;
}

article pre,
article code {
  padding: 3px 5px;
  border-radius: 3px;
  color: #e8eaec;
  background-color: #1f1f1f;
}

article pre {
  padding: 10px 20px;
  border-radius: 5px;
  overflow-x: auto;
}

article pre code {
  background-color: transparent;
}

article hr {
  border: 1px dashed #e5eff5;
  margin: 50px;
}

article small {
  opacity: .7;
}
