:root {
    --black: #000000;
    --white: #ffffff;

    --gray1: #8e8e93;
    --gray2: #aeaeb2;
    --gray3: #c7c7cc;
    --gray4: #d1d1d6;
    --gray5: #e5e5ea;
    --gray6: #f2f2f7;

    --error: #ff3b30;
    --info: #5ac8fa;
    --success: #34c759;
    --warning: #ffcc00;

    --accent: #007aff;
    --accent-alt: #0a84ff;

    --text: var(--black);
    --background: var(--white);

    --transition-duration: .25s;
    --transition-function: ease-out;
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray1: #8e8e93;
        --gray2: #636366;
        --gray3: #48484a;
        --gray4: #3a3a3c;
        --gray5: #2c2c2e;
        --gray6: #1c1c1e;

        --error: #ff453a;
        --info: #64d2ff;
        --success: #30d158;
        --warning: #ffd60a;

        --accent: #0a84ff;
        --accent-alt: #007aff;

        --text: var(--white);
        --background: var(--black);
    }
}

*, ::before, ::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--text);
    background-color: var(--background);
    overflow-x: none;
}

a, button, input, textarea {
    outline: 0;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-function);
    cursor: pointer;
}

button:disabled, input:disabled, textarea:disabled {
    cursor: not-allowed;
}

button {
    padding: 10px 25px;
    border-radius: 3px;
    background-color: var(--accent);
    color: var(--white);
    font-weight: 500;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, .3);
    transition: background-color var(--transition-duration) var(--transition-function);
    cursor: pointer;
}
button:not(:disabled):hover {
    background-color: var(--accent-alt);
}
